<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/js/add.js"></script>
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container pt-5">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="title has-text-light">Add a Game</h1>
                <h6 class="subtitle is-6 has-text-light">Or add many games at once with <a href="/add/mass">Mass Import</a></h6>

                <h1 class="title is-4 has-text-light">Game Information</h1>
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input required id="title-text" class="input" type="text" placeholder="i.e. Gex">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Platform</label>
                    <div class="control">
                        <div class="select">
                            <select id="platform-selection">
                                <option id="-1">Select platform</option>
                                <% platforms.forEach(function(platform) { %>
                                    <option id="<%= platform.id %>"><%= platform.platform %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>

                <h1 class="title is-4 has-text-light">Edition Information</h1>

                <label class="checkbox">
                    <input type="checkbox">
                    Digital Game
                </label>
                <br>
                <br>

                <div class="field">
                    <label class="label">Edition</label>
                    <div class="control">
                        <input id="edition-text" class="input" type="text" placeholder="Defaults to Standard Edition">
                    </div>
                </div>

                <div class="field">
                    <label class="label">MSRP</label>
                    <h1 class="subtitle is-6 has-text-light">How much does this normally cost?</h1>
                    <div class="control">
                        <input id="msrp-text" class="input" type="text" placeholder="Defaults to 59.99">
                    </div>
                </div>

                <div class="field">
                    <label class="label">UPC</label>
                    <div class="control">
                        <input id="upc-text" class="input" type="text"
                               placeholder="Type or scan the barcode on the package">
                    </div>
                </div>

                <h1 class="title is-4 has-text-light">Your Copy's Information</h1>

                <% let today = new Date(Date.now()); %>
                <div class="field">
                    <label class="label">Date Added</label>
                    <h1 class="subtitle is-6 has-text-light">When did you add this game to your collection?</h1>
                    <div class="control">
                        <input type="date" id="start" name="trip-start"
                               value="<%= today.getFullYear() %>-<%= today.getMonth() %>-<%= today.getDay() %>"
                               min="1970-01-01"
                               max="<%= today.getFullYear() %>-<%= today.getMonth() %>-<%= today.getDay() %>">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Cost</label>
                    <h1 class="subtitle is-6 has-text-light">How much did you pay for it?</h1>
                    <div class="control">
                        <input id="cost-text" class="input" type="text" placeholder="i.e. 29.99">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Condition</label>
                    <div class="control">
                        <div class="select">
                            <select id="condition-selection">
                                <option id="new">New</option>
                                <option id="used">Used</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" onclick="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
