<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <%
    let date = new Date(Date.parse(entry.date));
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
</head>
<body>
<%- include('partials/navbar') %>
<div class="container">

    <div class="tile is-ancestor">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <h1 class="title"><%= entry.title %></h1>
                    <h1 class="title is-5"><%= entry.platform %></h1>
                    <h1 class="subtitle"><%= entry.edition %></h1>
                </article>
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Collection Information</h1>
                            <h1 class="subtitle">Added on <%= months[date.getMonth()]; %> <%= date.getDay() %>
                                , <%= date.getFullYear() %></h1>
                        </article>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Purchase Information</h1>
                            <h1 class="subtitle">Bought at</h1>
                            <h1 class="subtitle">Bought for <%= entry.cost %></h1>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
