<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/metadata') %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Consoles
        </p>
    </div>
</section>
<table class="table is-hoverable is-striped is-fullwidth">
    <thead>
    <tr>
        <th>Console</th>
        <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <% platforms.forEach(function(platform) { %>
        <tr>
            <th><a href="/platform/<%= platform.id %>"><%= platform.name %></a></th>
            <th><%= platform.brand %></th>
        </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>
