<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/add/console.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('../partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Add a Console
        </p>
    </div>
</section>

<div class="container pt-5">
    <ul class="steps has-content-centered">
        <li id="console-info-segment" class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Console Information</p>
                <p>Name and Brand</p>
            </div>
        </li>
        <li id="completion-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Complete</p>
            </div>
        </li>
    </ul>

    <div class="card">
        <div class="card-content">
            <div class="content">
                <div id="console-info-div">
                    <%- include('../partials/add/console/console_info') %>
                </div>
                <div id="completion-div" class="is-hidden">
                    <%- include('../partials/add/console/completion') %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
