<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/add/figure.js"></script>
    <script src="/js/utils.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script>
        getRetailers();
    </script>
</head>
<body>
<%- include('../partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Add an amiibo
        </p>
    </div>
</section>

<div class="container pt-5">
    <ul class="steps has-content-centered">
        <li id="series-info-segment" class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Series Information</p>
            </div>
        </li>
        <li id="amiibo-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">amiibo Information</p>
            </div>
        </li>
        <li id="purchase-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Purchase Information</p>
            </div>
        </li>
        <li id="completion-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Complete</p>
            </div>
        </li>
    </ul>

    <div class="card">
        <div id="add-card-div" class="card-content">
            <div class="content">
                <div id="series-div">
                    <%- include('../partials/add/figure/series_info') %>
                </div>
                <div id="amiibo-div" class="is-hidden">
                    <%- include('../partials/add/figure/amiibo_info') %>
                </div>
                <div id="purchase-div" class="is-hidden">
                    <%- include('../partials/add/figure/purchase_info') %>
                </div>
                <div id="completion-div" class="is-hidden">
                    <%- include('../partials/add/figure/completion') %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
