<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/add/game.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('../partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Add a Game
        </p>
    </div>
</section>

<div class="container pt-5">
    <ul class="steps has-content-centered">
        <li id="game-info-segment" class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Game Information</p>
                <p>Name, platform, and metadata</p>
            </div>
        </li>
        <li id="edition-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Edition Information</p>
                <p>Edition and MSRP</p>
            </div>
        </li>
        <li id="destination-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Destination</p>
                <p>Collection or Wish List</p>
            </div>
        </li>
        <li id="purchase-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p id="purchase-text" class="is-size-5">Purchase Information</p>
                <p id="purchase-description">Cost, date, store, and condition</p>
            </div>
        </li>
        <li id="completion-segment" class="steps-segment">
            <span class="steps-marker">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span>
            </span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Complete</p>
            </div>
        </li>
    </ul>

    <div class="card">
        <div id="add-card-div" class="card-content">
            <div class="content">
                <h1 class="title has-text-light">Game Information</h1>
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input required id="title-text" class="input" type="text" placeholder="i.e. Gex">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Platform</label>
                    <div class="control">
                        <div class="select">
                            <select id="platform-selection">
                                <option id="-2">Select Platform</option>
                                <% platforms.forEach(function(platform) { %>
                                    <option id="<%= platform.id %>"><%= platform.name %></option>
                                <% }); %>
                                <option id="-1">-- New Platform --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <button id="submit-button" class="button is-link" onclick="submitGameInfo()">Next</button>
                </div>

                <div id="warning-div"></div>
            </div>
        </div>
    </div>
</body>
</html>
