<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/add/game.js"></script>
    <script src="/js/utils.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('../partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Add a Game
        </p>
    </div>
</section>

<div class="container pt-5">
    <ul class="steps has-content-centered">
        <li id="game-info-segment" class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Game Information</p>
                <p>Name, platform, and metadata</p>
            </div>
        </li>
        <li id="edition-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Edition Information</p>
                <p>Edition and MSRP</p>
            </div>
        </li>
        <li id="destination-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Destination</p>
                <p>Collection or Wish List</p>
            </div>
        </li>
        <li id="purchase-info-segment" class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content has-text-light">
                <p id="purchase-text" class="is-size-5">Purchase Information</p>
                <p id="purchase-description">Cost, date, store, and condition</p>
            </div>
        </li>
        <li id="completion-segment" class="steps-segment">
            <span class="steps-marker">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span>
            </span>
            <div class="steps-content has-text-light">
                <p class="is-size-5">Complete</p>
            </div>
        </li>
    </ul>

    <div class="card">
        <div class="card-content">
            <div class="content">
                <div id="game-info-div">
                    <%- include('../partials/add/game/game_info') %>
                </div>
                <div id="edition-info-div" class="is-hidden">
                    <%- include('../partials/add/game/edition_info') %>
                </div>
                <div id="destination-div" class="is-hidden">
                    <%- include('../partials/add/game/destination') %>
                </div>
                <div id="wishlist-info-div" class="is-hidden">
                    <%- include('../partials/add/game/wishlist_info') %>
                </div>
                <div id="purchase-info-div" class="is-hidden">
                    <%- include('../partials/add/game/purchase_info') %>
                </div>
                <div id="completion-div" class="is-hidden">
                    <%- include('../partials/add/game/completion') %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
