<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/edit/game.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <%
    const months = ["N/A", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var parsedDate = months[parseInt(entry.date.split('-')[1])] + ' ' + parseInt(entry.date.split('-')[2]) + ', ' + parseInt(entry.date.split('-')[0]);
    if (parsedDate == 'undefined NaN, NaN') {
        parsedDate = 'Unknown';
    }
    %>
</head>
<body>
<%- include('../partials/navbar') %>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile pt-5">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-3by4">
                                <img src="/library/<%= entry.gameID %>/cover">
                            </figure>
                        </div>
                        <div class="column">
                            <h1 class="subtitle">Editing</h1>
                            <h1 class="title"><%= entry.title %></h1>
                            <div class="columns">
                                <div class="column">
                                    <h1 class="title is-5"><%= entry.platform %></h1>
                                    <h1 class="subtitle"><%= entry.edition %></h1>
                                </div>
                                <div class="column is-one-fifth">
                                    <figure id="rating-figure" class="image is-48x48"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="tile">
                    <div class="tile is-child is-vertical pr-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Copy Information</h1>
                            <table class="table has-background-grey mr-6 ml-6">
                                <tbody class="table-body has-background-grey has-text-centered">
                                <tr>
                                    <th>Date Added</th>
                                    <td><%= parsedDate %></td>
                                </tr>
                                <tr>
                                    <th>Condition</th>
                                    <td>
                                        <div class="control">
                                            <div class="select">
                                                <select id="condition-selection">
                                                    <option id="new" <%= entry.new ? "selected" : "" %>>New</option>
                                                    <option id="used" <%= entry.new ? "" : "selected" %>>Used</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Box</th>
                                    <td>
                                        <input id="box-check" type="checkbox" <%= entry.box ? "checked" : "" %>>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Manual</th>
                                    <td>
                                        <input id="manual-check" type="checkbox" <%= entry.manual ? "checked" : "" %>>
                                    </td>
                                </tr>
                                <tr>
                                    <th>UPC</th>
                                    <td>
                                        <div class="control">
                                            <input required id="upc-text" class="input"
                                                   value="<%= entry.upc == '' ? null : entry.upc %>">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </article>
                        <div class="tile is-child is-vertical">
                            <article class="tile is-parent box is-vertical">
                                <h1 class="title is-4">Game Progress</h1>
                                <ul class="steps has-content-centered">
                                    <li id="owned-segment"
                                        class="steps-segment <%= entry.progress == 0 ? "is-active" : "" %>"
                                        onclick="changeProgress(<%= entry.gameID %>, 0)">
                                        <span class="steps-marker">
                                            <span class="icon">
                                                <i class="fa fa-money-bill-wave-alt"></i>
                                             </span>
                                        </span>
                                        <div class="steps-content has-text-light">
                                            <p class="is-size-6">Owned</p>
                                        </div>
                                    </li>
                                    <li id="backlog-segment"
                                        class="steps-segment <%= entry.progress == 1 ? "is-active" : "" %>"
                                        onclick="changeProgress(<%= entry.gameID %>, 1)">
                                        <span class="steps-marker">
                                            <span class="icon">
                                                <i class="fa fa-list"></i>
                                             </span>
                                        </span>
                                        <div class="steps-content has-text-light">
                                            <p class="is-size-6">In Backlog</p>
                                        </div>
                                    </li>
                                    <li id="playing-segment"
                                        class="steps-segment <%= entry.progress == 2 ? "is-active" : "" %>"
                                        onclick="changeProgress(<%= entry.gameID %>, 2)">
                                        <span class="steps-marker">
                                            <span class="icon">
                                                <i class="fa fa-play"></i>
                                             </span>
                                        </span>
                                        <div class="steps-content has-text-light">
                                            <p class="is-size-6">Currently Playing</p>
                                        </div>
                                    </li>
                                    <li id="completed-segment"
                                        class="steps-segment <%= entry.progress == 3 ? "is-active" : "" %>"
                                        onclick="changeProgress(<%= entry.gameID %>, 3)">
                                        <span class="steps-marker">
                                            <span class="icon">
                                                <i class="fa fa-check"></i>
                                             </span>
                                        </span>
                                        <div class="steps-content has-text-light">
                                            <p class="is-size-6">Completed</p>
                                        </div>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-child is-vertical pl-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Cost Information</h1>
                            <table class="table has-background-grey mr-6 ml-6">
                                <tbody class="table-body has-background-grey has-text-centered">
                                <tr>
                                    <th>MSRP</th>
                                    <td>
                                        <div class="control">
                                            <input required id="cost-text" class="input" type="number" min="0"
                                                   step="any"
                                                   value="<%= entry.msrp == '' ? null : entry.msrp %>">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td>
                                        <div class="control">
                                            <input required id="cost-text" class="input" type="number" min="0"
                                                   step="any"
                                                   value="<%= entry.cost == '' ? null : entry.cost %>">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </article>
                        <div class="tile is-child is-vertical">
                            <article class="tile is-parent box is-vertical">
                                <h1 class="title is-4">Purchase Information</h1>
                                <h1 class="subtitle">Purchased at: </h1>
                            </article>
                            <div class="tile is-child is-vertical">
                                <article class="tile is-parent box is-vertical">
                                    <h1 class="title is-4">Manage Game</h1>
                                    <div class="container">
                                        <a href="/library/<%= id %>">
                                            <button class="button">Cancel</button>
                                        </a>
                                        <button class="button is-success">Save</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    getIGDBInfo(<%= id %>);
    renderCostChart(<%= entry.msrp == '' ? "null" : entry.msrp %>, <%= entry.cost == '' ? "null" : entry.cost %>, null);
</script>
</body>
</html>
