<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
    <script src="/js/entry/console.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<%- include('../partials/navbar') %>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile pt-5">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <h1 class="title"><%= entry.name %></h1>
                    <div class="columns">
                        <div class="column">
                            <h1 class="title is-5"><%= entry.brand %></h1>
                        </div>
                    </div>
                    <div id="loading-div"></div>
                    <div id="tags-div"></div>
                    <br>
                    <p id="description" class="has-text-light"></p>
                    <br>
                    <a href="<%= entry.igdbURL %>">
                        <p id="igdb-link" class="has-text-link"></p>
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>
<script>
    getIGDBInfo(<%= id %>);
</script>
</body>
</html>
